In [5]:
print("Hello, World")

Hello, World

In [9]:
X=5
print(X)

5

In [13]:
a=2
b="Sola"
c=20.3
d=[1]
e=("dayo")
f={"name":"Olu", "age":23}
print(a,b,c,d,e,f)

2 Sola 20.3 [1] dayo {'name': 'Olu', 'age': 23}

In [15]:
print(type(f))

<class 'dict'>

In [17]:
python --version

NameError: name 'python' is not defined

In [46]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [60]:
if 8>3:
    print("8 is less than 3")
if 3<8:
    print("3 is less than 8")

8 is less than 3
3 is less than 8

In [62]:
#this is my comment

In [64]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [66]:
#CASTING

In [70]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

a = 5
b = "John"
print(type(a))
print(type(b))

3 3 3.0
<class 'int'>
<class 'str'>

In [72]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [74]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [80]:
x=3
def myfun():
    print("the value of x is", x+3)
myfun()

the value of x is 6

In [82]:
x=3
def myfun():
    x=4
    print("the value of x is", x+3)
myfun()

the value of x is 7

In [92]:
x=10
def myfunc():
    global x
    x=9
myfunc()
print("The value of x", x)

The value of x 9

In [104]:
a = "Hello World"
b = 20	
c = 20.5		
d = 1j	
e = ["apple", "banana", "cherry"]	
f = ("apple", "banana", "cherry")		
g = range(6)	
h = {"name" : "John", "age" : 36}	
i = {"apple", "banana", "cherry"}	
j = frozenset({"apple", "banana", "cherry"})	
k = True	
l = b"Hello"		
m = bytearray(5)		
n = memoryview(bytes(5))		
o = None

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))
print(type(n))
print(type(o))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

In [13]:
import random
print(random.randrange(1, 10))

7

In [ ]:
#Multiline Strings

In [17]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [19]:
a = "Hello, World!"
print(a[1])

e

In [21]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [23]:
x = "Hello World"
print(len(x))

11

In [29]:
txt = "This is a free Text"
print("frees" in txt)

False

In [31]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [33]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [35]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [37]:
#Slicing

In [39]:
x="Hello World"
print(x[2:5])

llo

In [41]:
x="Hello World"
print(x[:5])

Hello

In [43]:
x="Hello World"
print(x[8:])

rld

In [51]:
x="Hello World"
print(x[-4:-1])

orl

In [53]:
x="Hello World"
print(x[-4:])

orld

In [55]:
x="Hello World"
print(x[:-5])

Hello

In [57]:
x="hello world"
print(x.upper())

HELLO WORLD

In [59]:
x="HELLO world"
print(x.lower())

hello world

In [61]:
a = " Hello, World! "
print(a.strip()) # Remove unwanted space"

Hello, World!

In [63]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [65]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [77]:
a = "Hello"
b = "World"
x = "2"
c = a + " " + b + " " + x
print(c)

Hello World 2

In [149]:
#Placeholders and Modifiers
age =36
txt8 = f"My name is Ola and age is {age}"
print(txt8)

price = 59
txt7 = f"The price is {price:.2f} dollars"
print(txt7)

txt6 = f"The price is {20 * 59} dollars"
print(txt6)

txt5 = "hello, and welcome to my world."
x5 = txt5.capitalize()
print (x5)

txt4 = "Hello, And Welcome To My World!"
x4 = txt.casefold()
print(x4)


txt3 = "banana"
x3 = txt3.center(20)
print(x3)

txt = "banana"
txt1 = "I love apples, apple are my favorite fruit"
x = txt1.count("apple")
x1 = txt.center(20, "O")
print(x1)
print(x)

txta = "My name is Ståle"
xa = txta.encode()
print(xa)

txtb = "Hello, welcome to my world."
xb = txtb.endswith(".")
print(xb)

txtc = "Hello, welcome to my world."
xc = txtc.endswith("my world.")
print(xc)

txtd = "H\te\tl\tl\to"
xd =  txtd.expandtabs(2)
print(xd)


txte = "H\te\tl\tl\to"

print(txte)
print(txte.expandtabs())
print(txte.expandtabs(2))
print(txte.expandtabs(4))
print(txte.expandtabs(10))


txtf = "Hello, welcome to my world."
xf = txtf.find("welcome")
print(xf)

#rfind
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)


txtg = "Hello, welcome to my world."
xg = txtg.find("welcome")
print(xg)

txt = "Hello, welcome to my world."
x = txt.find("e", 9, 20)
print(x)

txts = "Hello, welcome to my world."

print(txts.find("e"))
print(txts.index("e"))


txt = "Company12"
x = txt.isalnum()
print(x)

txt = "1234"
x = txt.isdecimal()
print(x)


myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)


myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

My name is Ola and age is 36
The price is 59.00 dollars
The price is 1180 dollars
Hello, and welcome to my world.
1234
       banana
OOOOOOObananaOOOOOOO
2
b'My name is St\xc3\xa5le'
True
True
H e l l o
H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o
7
12
7
13
1
1
True
True
John#Peter#Vicky
nameTESTcountry

In [5]:
not True

True

In [7]:
True or False

True

In [9]:
x=3*3

In [11]:
x

9

In [13]:
x=3+2

In [15]:
x

5

In [17]:
x=8

In [19]:
y=3

In [21]:
z=x-y

In [23]:
z

5

In [25]:
a=x+y

In [27]:
a

11

In [29]:
sound ="cluck"

In [31]:
sound

'cluck'

In [33]:
sound='moo'

In [37]:
sound

'moo'

In [45]:
x="and she said \"Yum!\""

In [47]:
x

'and she said "Yum!"'

In [49]:
quote = 'and I said, "Ew!"'

In [51]:
quote

'and I said, "Ew!"'

In [53]:
quote = "Euh, 'merrppp'"

In [55]:
quote

"Euh, 'merrppp'"

In [71]:
b=x
x==8

True

In [73]:
c=x>5

In [75]:
c

True

In [77]:
d = sound == "moo"

In [79]:
d

True

In [81]:
e = sound == "yuck"

In [83]:
e

False

In [89]:
f = x == 8 and sound == "yuck"

In [91]:
f

False

In [93]:
g = x == 5 and sound == "moo"

In [95]:
g

False

In [97]:
#Functions

In [99]:
abs(-5)

5

In [101]:
abs(-3.14)

3.14

In [129]:
round(1.2)

1

In [162]:
print(round(12.345, 2))
print(round(ndigits = 2, number = 233.643))

12.35
233.64

In [131]:
max(7,3)

7

In [133]:
from time import time

In [135]:
time()

1738448792.9086928

In [137]:
time()

1738448793.2841399

In [139]:
seconds = time()

In [141]:
minutes = seconds/60

In [143]:
hours = minutes/60

In [145]:
days = hours/24

In [147]:
years = days/365

In [149]:
days

20120.935112118063

In [151]:
years

55.12584962224127

In [170]:
text = input("JPY: ")
print(text)

JPY:  1000

1000

In [172]:
text = input("JPY: ")
jpy = int(text)
usd = jpy/155.68
usd = round(usd, 2)
print(usd)

JPY:  3000

19.27

In [4]:
#Reading from Website
from requests import get
responce= get("https://alvinwan.com/coding101/pikachu/")

In [6]:
responce

In [8]:
responce.text

'⢀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⣠⣤⣶⣶\n⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⢰⣿⣿⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣀⣀⣾⣿⣿⣿⣿\n⣿⣿⣿⣿⣿⡏⠉⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿\n⣿⣿⣿⣿⣿⣿⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛⠉⠁⠀⣿\n⣿⣿⣿⣿⣿⣿⣧⡀⠀⠀⠀⠀⠙⠿⠿⠿⠻⠿⠿⠟⠿⠛⠉⠀⠀⠀⠀⠀⣸⣿\n⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣴⣿⣿⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⢰⣹⡆⠀⠀⠀⠀⠀⠀⣭⣷⠀⠀⠀⠸⣿⣿⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠈⠉⠀⠀⠤⠄⠀⠀⠀⠉⠁⠀⠀⠀⠀⢿⣿⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⢾⣿⣷⠀⠀⠀⠀⡠⠤⢄⠀⠀⠀⠠⣿⣿⣷⠀⢸⣿⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⡀⠉⠀⠀⠀⠀⠀⢄⠀⢀⠀⠀⠀⠀⠉⠉⠁⠀⠀⣿⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⣿\n⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿\n'

In [10]:
print(responce.text)

⢀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⣠⣤⣶⣶
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⢰⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣀⣀⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡏⠉⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿
⣿⣿⣿⣿⣿⣿⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛⠉⠁⠀⣿
⣿⣿⣿⣿⣿⣿⣧⡀⠀⠀⠀⠀⠙⠿⠿⠿⠻⠿⠿⠟⠿⠛⠉⠀⠀⠀⠀⠀⣸⣿
⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣴⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⢰⣹⡆⠀⠀⠀⠀⠀⠀⣭⣷⠀⠀⠀⠸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠈⠉⠀⠀⠤⠄⠀⠀⠀⠉⠁⠀⠀⠀⠀⢿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⢾⣿⣷⠀⠀⠀⠀⡠⠤⢄⠀⠀⠀⠠⣿⣿⣷⠀⢸⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡀⠉⠀⠀⠀⠀⠀⢄⠀⢀⠀⠀⠀⠀⠉⠉⠁⠀⠀⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿

In [14]:
file = open("test.txt", "w")
file

In [16]:
file.write('Hello World')

11

In [18]:
file.read()

UnsupportedOperation: not readable

In [22]:
file.close()

In [24]:
file = open("test.txt", "r")

In [26]:
file.read()

'Hello World'

In [30]:
text = input("Emails: ")
text = text.replace(",","\n")
print(text)
count = text.count("@")
print(count)

Emails:  a@a.com, b@b.com,c@c.com,d@d.com

a@a.com
 b@b.com
c@c.com
d@d.com
4

In [32]:

#List
names=["Funmi","Tobi","Yemi"]

In [34]:
names

['Funmi', 'Tobi', 'Yemi']

In [36]:
names[1]

'Tobi'

In [38]:
names.append("Gbemi")

In [40]:
names

['Funmi', 'Tobi', 'Yemi', 'Gbemi']

In [42]:
names.pop()

'Gbemi'

In [44]:
names

['Funmi', 'Tobi', 'Yemi']

In [46]:
names[2] = "tola"

In [48]:
names

['Funmi', 'Tobi', 'tola']

In [52]:
from random import choice
response = input("Names: ")
names = response.split(",")
name = choice(names)
print(name)

names.remove(name)
name = choice(names)
print(name)

Names:  olu,ade,ola,akin

akin
ola

In [60]:
#boolean
a=200
b=400
if a > b:
    print("a is greater b")
else:
    print("a is not greater b")

a is not greater b

In [64]:
x = "Ola"
print(isinstance(x, int))

False

In [66]:
x = 5
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x % y)
print(x ** y) #same as 2*2*2*2*2
print(x // y)
x **= 3

print(x)

x &= 3

print(x)

x |= 3

print(x)

x ^= 3

print(x)

x >>= 3

print(x)

print(x := 3)

print(x != y)

print(x > y)

print(x < y)

print(x > 3 and x < 10)
print(not(x > 3 and x < 10))

8
2
15
2
125
1
125
1
3
0
0
3
False
False
False
False
True

In [68]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

False
True
False

In [4]:
#Dictionary
{"Jane":3,"Kayo":8}

{'Jane': 3, 'Kayo': 8}

In [6]:
names_of_cookies={"Jane":3,"Kayo":8}

In [8]:
names_of_cookies

{'Jane': 3, 'Kayo': 8}

In [10]:
names_of_cookies["Jane"]

3

In [12]:
names_of_cookies["Jane"]=10

In [14]:
names_of_cookies

{'Jane': 10, 'Kayo': 8}

In [18]:
#Checking Location project
from requests import get
response = get('https://ipinfo.io/json')
data= response.json()
city=data['city']
print(city)

Glasgow

In [22]:
numbers=[2,3,4]
numbers

[2, 3, 4]

In [24]:
numbers2=[4,2,7]
numbers2

[4, 2, 7]

In [26]:
strings = ["a","b","c"]
strings

['a', 'b', 'c']

In [28]:
booleans=[True]
booleans

[True]

In [30]:
numbers[0]

2

In [32]:
strings[2]

'c'

In [34]:
name_to_hungry = {"Jack":False ,"Jane":True , "Alex":True }
name_to_hungry

{'Jack': False, 'Jane': True, 'Alex': True}

In [36]:
name_to_burgers={"Emily":1 ,"Jenny":2 , "Neel":3}
name_to_burgers

{'Emily': 1, 'Jenny': 2, 'Neel': 3}

In [38]:
names_to_names= {"Goke":"Head", "Sola":"IT", "Femi":"Manager"}
names_to_names

{'Goke': 'Head', 'Sola': 'IT', 'Femi': 'Manager'}

In [40]:
age_name={25:"Ola", 30:"Femi"}
age_name

{25: 'Ola', 30: 'Femi'}

In [42]:
name_to_hungry["Jack"]

False

In [44]:
name_to_burgers["Neel"]

3

In [50]:
name_to_burgers2=[{"Key1":"Value1"},{"Key2":"Value2"}]
name_to_burgers2

[{'Key1': 'Value1'}, {'Key2': 'Value2'}]

In [54]:
#dictionary mapping strings to list
string_lists={"Ade": [12,"Head","Oyo"],"Tolu":[25,"Busar","lagos"]}
string_lists

{'Ade': [12, 'Head', 'Oyo'], 'Tolu': [25, 'Busar', 'lagos']}

In [58]:

#functions
min(2,6)

2

In [60]:
max(125,452)

452

In [72]:
sum([2.85,4,5,8])

19.85

In [92]:
alls=[True and False and True]
alls

[False]

In [96]:
any([True, False, False])

True

In [112]:
text = input("Name: ")

print(text.lower())

Name:  HAHAHA

hahaha

In [118]:
   "  hehe".lstrip()

'hehe'

In [132]:
"he@d.com".endswith(".com")

True

In [134]:
"Mr.Bean".startswith("Mr.")

True

In [136]:
"Supercalifragilistic".find("cali")

5

In [138]:
"mississippi".count("i")

4

In [140]:
"hahahahaha".replace("a","e")

'hehehehehe'

In [142]:
"Bob poked Bobs' dog".replace("Bob","Jon")

"Jon poked Jons' dog"

In [150]:
x={"a":1, "b":2}
x.values()

dict_values([1, 2])

In [152]:
x.keys()

dict_keys(['a', 'b'])

In [162]:
j = (["google.com","mail","hi"])
s = "/".join(j)
print(s)

google.com/mail/hi

In [164]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [166]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [168]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [170]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [172]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [174]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [176]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [178]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [180]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [2]:
# If Else statement
x=3
if x<5:
    x=10
print(x)

10

In [6]:
x=8
if x<5:
    x=10
else:
    x=4
print(x)

4

In [10]:
name = "Bob"
if name == "Jesse":
    print("Name Verified")
else:
    print("Incorrect Name")

Incorrect Name

In [14]:
from datetime import datetime
datetime(2030,1,1)

datetime.datetime(2030, 1, 1, 0, 0)

In [16]:
datetime(2030,1,1,12)

datetime.datetime(2030, 1, 1, 12, 0)

In [18]:
dt = datetime(2030,3,15)
dt.weekday()

4

In [20]:
dt.isoformat()

'2030-03-15T00:00:00'

In [24]:
dt.year

2030

In [26]:
dt.month

3

In [28]:
dt.day

15

In [30]:
dt2=datetime(2030,12,31)
dt2>dt

True

In [32]:
dt2 - dt

datetime.timedelta(days=291)

In [34]:
diff = dt2 - dt
diff.days

291

In [36]:
diff.total_seconds()

25142400.0

In [48]:
from datetime import datetime
now = datetime.now()
next_bday= datetime(now.year,7,3)
if next_bday < now:
    next_bday = next_bday.replace(now.year + 1)
diff = next_bday - now
days = diff.days
year = next_bday.year
month = next_bday.month
print(days)
print(year,month)

145
2025 7

In [50]:
#While Loop
x=0
while x < 5:
    print(x)
    x=x+1
print(x)

0
1
2
3
4
5

In [90]:
#program of 2 times table
x=1
y=x+3
z = x * y
while x < 13:
    z=x*y
    print(z)
    x = x+1

4
8
12
16
20
24
28
32
36
40
44
48

In [96]:
from requests import get
sentences = ""
while not sentences.isdigit():
    sentences =input("Number of Sentences: ")
url = 'https://baconipsum.com/api/?type=all=meat&sentences=' + sentences
response = get(url)
paragraphs = response.json()
paragraph =paragraphs[0]
print(paragraphs)

Number of Sentences:  50

['Chuck shoulder turducken picanha, corned beef short ribs chicken sausage leberkas tongue chislic t-bone. Hamburger beef short ribs, chicken turkey burgdoggen cow pig kielbasa ground round jerky brisket. Spare ribs meatball sirloin, alcatra kielbasa biltong shank filet mignon tail buffalo pastrami doner capicola salami ribeye. Leberkas filet mignon frankfurter swine pancetta beef ribs. Corned beef ham hock chuck turkey swine t-bone kevin tenderloin kielbasa ham. Pig prosciutto cupim pork belly turducken, doner kevin pork rump ham chicken short ribs boudin swine. Kevin cow corned beef frankfurter. Tail turducken short ribs pancetta jowl t-bone shankle brisket biltong landjaeger fatback. Meatball tri-tip landjaeger turkey short loin alcatra ball tip tongue rump. Venison short ribs pastrami doner cow kielbasa alcatra tongue chicken tri-tip ribeye landjaeger turducken. Pork kielbasa ham hock filet mignon sausage beef ribs pork loin cupim doner bacon shankle salami biltong. Meatloaf cow cupim turducken chuck, strip steak pancetta bacon beef ribs swine. Chuck doner fatback picanha capicola. Pork belly brisket pancetta strip steak beef ribs, beef rump. Ham frankfurter kevin spare ribs ball tip. Pork cupim pig boudin, shankle beef ribs prosciutto andouille spare ribs pancetta sausage. Tri-tip alcatra bacon ground round t-bone tenderloin sirloin brisket pastrami pancetta pork belly. Pork loin boudin chicken ham venison. Meatloaf short ribs filet mignon shankle chicken ribeye, shank frankfurter sirloin venison bacon meatball salami biltong. Shankle kevin filet mignon pork pork chop fatback. Venison bresaola swine pastrami, drumstick doner spare ribs shank sausage. Bacon beef swine, shoulder tail burgdoggen beef ribs. Boudin jowl pork chop ham hock ham shoulder. Corned beef rump ball tip sirloin filet mignon tongue. Cow biltong kielbasa ground round cupim fatback pork chop capicola pork loin doner. Landjaeger short loin shankle andouille prosciutto ham salami sirloin kielbasa hamburger sausage frankfurter beef buffalo. Strip steak boudin beef ribs spare ribs brisket buffalo. Fatback filet mignon short loin pancetta sirloin ham hock boudin kevin flank t-bone. Pork chop jerky strip steak porchetta chislic cow, ribeye short loin swine spare ribs beef ribs pastrami. Shankle meatloaf porchetta fatback jowl, bresaola drumstick capicola frankfurter ribeye kielbasa corned beef pastrami chislic kevin. Ribeye cupim beef shank short loin meatloaf sausage jowl landjaeger kevin salami burgdoggen prosciutto. Chuck beef chicken ball tip buffalo pig sirloin. Shank jowl flank brisket short ribs prosciutto andouille jerky pig tri-tip sirloin bacon biltong buffalo burgdoggen. Turducken corned beef bacon tri-tip turkey t-bone beef ribs pork chop landjaeger tenderloin spare ribs shoulder porchetta fatback. Brisket strip steak spare ribs meatball meatloaf, drumstick shank sirloin. Doner bacon corned beef, t-bone tail ham kielbasa hamburger capicola bresaola. Cupim prosciutto frankfurter fatback, tail ribeye ball tip t-bone filet mignon chuck ham hock pig ham sirloin chislic. Turducken cow buffalo, capicola kevin hamburger brisket tenderloin ham hock pork loin alcatra short loin jowl. Sirloin rump tenderloin salami. Ham hock picanha rump leberkas. Picanha short loin ball tip shankle, salami cupim jerky tenderloin ribeye t-bone buffalo chuck rump. Meatloaf ground round ribeye cow rump, burgdoggen capicola jerky pork chop sausage cupim tri-tip. Swine brisket pork belly sirloin jowl rump meatloaf. Short loin chislic pork brisket. Venison burgdoggen chicken prosciutto, cupim strip steak meatloaf sirloin tenderloin. Leberkas beef ribs salami boudin drumstick spare ribs fatback. Pastrami t-bone ham ham hock buffalo pig short loin sirloin pancetta. Pork venison turkey porchetta shankle meatloaf jerky pork belly boudin. Sausage jerky pork chop, kielbasa shank beef ribs ground round fatback meatloaf ham hock tongue leberkas. Shank drumstick pastrami salami bacon.']

In [98]:
range(5)

range(0, 5)

In [102]:
iterable = range(5)

In [104]:
list(iterable)

[0, 1, 2, 3, 4]

In [106]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [108]:
for i in "Hello World":
    print(i)

H
e
l
l
o

W
o
r
l
d

In [114]:
from random import choice
from string import ascii_letters, digits, punctuation

characters = ascii_letters + digits + punctuation
length = input("Length:")
length = int(length)

password = ""
for _ in range(length):
    character = choice(characters)
    password = password + character
print(password)

Length: 20

&d1SR"*6b7Vn;ZhEt'!G

In [1]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [3]:
#Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [5]:
#List Comprehension offers the shortest syntax for looping through lists:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [9]:
#OR
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [11]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [13]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [15]:
#Join two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [17]:
#Or
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Tuple

In [19]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [23]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [25]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [27]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [29]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [31]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [35]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [37]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [39]:
print(thistuple)

('banana', 'cherry')

In [41]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [23]:
# Recursive approach
def factorial_recursive(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial_recursive(n - 1)
    # Taking user input
num = int(input("Enter a number: "))

# Calculating factorial using both methods
print(f"Factorial (Recursive) of {num}: {factorial_recursive(num)}")

Enter a number:  5

Factorial (Recursive) of 5: 120

In [27]:
# Iterative approach
def factorial_iterative(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result
    num = int(input("Enter a number: "))

# Calculating factorial using both methods
print(f"Factorial (Recursive) of {num}: {factorial_recursive(num)}")

Factorial (Recursive) of 5: 120

In [51]:
#Unpacking
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [53]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [55]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
#Loop Through a Tuple

In [57]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [59]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [61]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [63]:
#Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [65]:
#Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [67]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [69]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [3]:
def square(x):
    return x*x
result=square(5)
print(result)

25

In [13]:
from requests import get
response = get('https://alvinwan.com/coding101/cipher.json')
mapping = response.json()

def cipher(original):
    text = ""
    for letter in original:
        new_letter = mapping[letter]
        text = text + new_letter
    return text
text = input("Text or secret: ")
result = cipher(text)
print(result)

Text or secret:  Uryyb

Hello

In [29]:
def mul3(x):
    return x*3

x= int(input("Enter a Number: "))
result = mul3(x)
print(result)

Enter a Number:  6

18

In [31]:
def sub3(x):
    return x -3

x= int(input("Enter a Number: "))
result = sub3(x)
print(result)

Enter a Number:  9

6

In [37]:
def sub3(x,y):
    return x * y

x= int(input("Enter a Number: "))
y= int(input("Enter a Number: "))
result = sub3(x,y)
print(result)

Enter a Number:  2
Enter a Number:  5

10

In [55]:
def gt3(x):
    if x > 3:
        print("x is greater than 3")
    else:
        print("x is lesser than 3")
x= int(input("Enter a Number: "))
result = gt3(x)
print(result)

Enter a Number:  2

x is lesser than 3
None

In [71]:
def both_gt_3(x, y):
    if x > 3 or y > 3:
        return x > 3 or y > 3
result = both_gt_3(5 , 2)
print(result)

True

In [77]:
def sum3(x):
    return sum(x) * 3
result = sum3([1,2,3])
print(result)

18

In [83]:
def sum3(x):
    return sum(x.values())
result = sum3({"a":1,"b":2,"C":3})
print(result)

6

In [115]:
def sum3(x):
    return x["jack"] == 1
    
result = sum3({"jack":1,"b":2,"C":3})
print(result)

True

In [117]:
def sum3(x):
    if x["jack"] == 1:
        print("Yes")
    
result = sum3({"jack":1,"b":2,"C":3})
print(result)

Yes
None

In [119]:
def sum3(x):
    return x["jack"] + 3
    
result = sum3({"jack":1,"b":2,"C":3})
print(result)

4